<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
<h1><%= @cocktail.name %></h1>
<ul>
<% @cocktail.doses.each do |dose| %>
<li><%= dose.ingredient.name %>: <%= dose.description %>  <%= link_to dose_path(dose), method: :delete do %><i class="fas fa-trash-alt"></i><% end %></li>
<% end %>
</ul>


<%= link_to "All the Tremendous Cocktails", cocktails_path, class: "btn btn-primary" %>
<h1>Add The Recipe for <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<% if @dose.errors.any? %>
  <div class="errors-container">
    <ul>
      <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <%= f.association :ingredient, collection: Ingredient.all, input_html: { class: 'select2' } %>
  <%= f.input :description %>
  <%= f.submit "add an ingredient", class: "btn btn-primary" %>
<% end %>
</div>
</div>
  </div>
</div>
